body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--cor-neutra-escura);
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

.cabecalho {
    grid-area: header;
    padding: 1.8rem 0;
}

.cabecalho .menu-principal {
    display: none;
    background-color: var(--cor-neutra-escura);
    position: absolute;
    top: 5rem;
    left: 0;
    width: 100%;
    padding: 1rem;
}

.cabecalho .menu-principal ul{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem 0;
}

.cabecalho .menu-principal ul li a {
    color: var(--cor-neutra-clara);
    letter-spacing: 0.1rem;
    text-decoration: none;
    padding: 1rem;
}

.cabecalho .menu-principal ul li a:hover {
    background-color: var(--cor-primaria-hover);
}

.cabecalho.menu-ativo .menu-principal {
    display: block;
}


.header-conteudo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 1rem;
}

.header-esquerda {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo img {
    max-width: 150px;
    height: auto;
    display: block;
}

.menu-hamburguer {
    width: 24px;
    height: 24px;
    background: transparent;
    border: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.3rem;
    cursor: pointer;
}

.menu-hamburguer span {
    display: block;
    height: 3px;
    width: 100%;
    background-color: #ffffff;
}

.botao-carrinho {
    background: transparent;
    border: 0;
    padding: 0.75rem;
    position: relative;
    cursor: pointer;
}

.botao-carrinho span{
    background-color: var(--cor-primaria);
    color: var(--cor-neutra-clara);
    font-weight: 600;
    font-size: 0.7rem;
    position: absolute;
    top: 30px;
    left: 29px;

    display: flex;
    width: 16px;
    height: 16px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

main{
    grid-area: main;
    padding: 1rem;
}

main section h2{
    color: var(--cor-neutra-clara);
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    margin-bottom: 2rem;
}

main .produtos ul{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

main .produtos .produto{
    background-color: green;
}

.produtos img {
    max-width: 200px;
    height: auto;
    display: block;
}

@media(min-width: 940px){
    
    .cabecalho .menu-principal {
        display: block;
        position: static;
        width: auto;
    }

    .cabecalho .menu-principal ul {
        flex-direction: row;
    }
}

@media(min-width: 1440px){
    .cabecalho {
        max-width: 1440px;
        margin: 0 auto;
    }
}